In [1]:
from helper import *

In [33]:
_wood = getHistory("CUT")[:'2018-12-03']
_gold = getHistory("IAU")[:'2018-12-03']
_wood.tail()

               Open     High      Low    Close   Volume
2018-11-27  27.1300  27.1399  26.9700  27.0352   8046.0
2018-11-28  27.0188  27.2300  26.7300  27.2300  33611.0
2018-11-29  27.2700  27.4899  27.2601  27.3601  15552.0
2018-11-30  27.2151  27.2900  27.1800  27.2700   7494.0
2018-12-03  27.7800  27.8355  27.5200  27.6599  10745.0

In [5]:
api = getAPI()

In [18]:
positions = api.list_positions()
inMarket = False
for position in positions:
    if position.symbol == "SPY":
        inMarket = True

In [34]:
fs = 'M'
wood = addReturnsColumn(_wood.resample(fs).last())
gold = addReturnsColumn(_gold.resample(fs).last())
wood.tail()

               Open     High     Low    Close   Volume    Returns
2018-08-31  32.8500  32.9034  32.601  32.7600   7034.0   0.629704
2018-09-30  32.1800  32.2000  31.970  31.9700  19648.0  -2.411477
2018-10-31  27.9200  28.0502  27.914  28.0205   8510.0 -12.353769
2018-11-30  27.2151  27.2900  27.180  27.2700   7494.0  -2.678396
2018-12-31  27.7800  27.8355  27.520  27.6599  10745.0   1.429776

In [36]:
marketIsOpen = True
holdingStocks = True
if(marketIsOpen):
    #check if it's the first trading day of the month
    if(_wood.index[-1].day < _wood.index[-2].day):
        print("It's the first of the month")
        #check if wood is beating gold or if gold is beating wood
        if(wood["Returns"].iloc[-2] > gold["Returns"].iloc[-2]):
            #buy or hold
        else:
            #close positions

here